<!DOCTYPE html>
<html ng-app="DaveSupermarket" ng-controller="LandingPageController">
<head>
    <title>Cart</title>
</head>
<body>

    <input type="number" /> <button type="button" ng-click="ScanItem();">Scan Item</button>
    

    <table class="table">
        <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>Cost</th>
            <th>Total</th>
        </tr>
        <tr ng:repeat="item in cart.items">
            <td>{{item.name}}</td>
            <td>{{item.qty}}</td>
            <td>{{pricedescription}}</td>
            <td>{{item.qty * item.cost | currency}}</td>
        </tr>
        <tr>
            <td colspan="="2"></td>
            <td>Total:</td>
            <td>{{total() | currency}}</td>
        </tr>
    </table>
    

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    @Scripts.Render("~/bundles/DaveSupermarket")




</body>
</html>
